<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Paper</title>
    <style>
        .que-div
        {
            border:2px solid green;
        }
    </style>
</head>
<body>
    <div class="que-div">
        <div class="que">
            {{que}}
        </div>
            
        <div class="que-options">
            {% for option in options %}
            <div><input type="radio" name="answer">{{option}}</div>
            {% endfor %}
                <!--<div><input type="radio" name="answer">{{a}}</div>
                <div><input type="radio" name="answer">{{b}}</div>
                <div><input type="radio" name="answer">{{c}}</div>
                <div><input type="radio" name="answer">{{d}}</div> -->

        </div>
        <div>
            <input type="submit" value="submit">
        </div>        
    </div>
</body>
</html>